[

  {sasl, [
    {sasl_error_logger, {file, "sasl.log"}},
    {errlog_type, all},
    {error_logger_mf_dir, "/"}, % Log directory
    {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
    {error_logger_mf_maxfiles, 5} % 5 files max
  ]},
  {webserver, [
    {pools, [
      {pool1, [
        {name, {local, pool1}},
        {worker_module, pb_worker},
        {size, 10},
        {max_overflow, 20}
      ]}
    ]},
    {ranch_listener, [
      {port, 5555},
      {nb_acceptors, 100}
    ]},
    {rabbitmq,[
      {host , "localhost"}
    ]}
  ]}

].